@import '../../styles/variables.sass'

.noLogo__90
    width: 70px
    height: 50px
    background-color: $noLogoBgColor
.noLogo__240
    width: 130px
    height: 80px
    background-color: $noLogoBgColor
    border-radius: 10px
    margin-right: 50px
