.vacancyInfo
    position: relative
    padding: 25px
    border-radius: 10px
    background-color: #fff
    .header
        display: flex
        align-items: center
        img
            margin-right: 50px
    &__positionName
        font-size: 20px
        font-weight: 700
    &__companyName
        font-size: 10px
        font-weight: 700
        color: #9AAAB5
        padding-right: 11px
        border-right: 1px solid #9AAAB5
    &__location
        font-size: 10px
        font-weight: 700
        color: #9AAAB5
        padding-left: 11px
    &__salary
        margin-top: 27px
        margin-bottom: 37px
        font-size: 20px
        font-weight: 700
    &__descr
        margin-top: 67px

.horisontalLine
    width: 100%
    position: absolute
    height: 2px
    border: none
    background-color: #F9F9F9
    left: 0
