@import '../../styles/variables.sass'

.wrapper
    display: flex
    justify-content: space-between
    align-items: center
    position: -webkit-sticky
    position: sticky
    top: -1px
    background-color: $gray
    height: 134px
    z-index: 99

.form
    display: flex
    width: 100%

.filter
    display: flex
    width: 100%
    height: 60px
    position: relative
    &__button
        background-color: transparent
        border: none
        font-weight: 700
        color: $blue-gray
        cursor: pointer
        margin-left: 60px
        height: 100%
        font-size: 12px
.submit_btn
    display: flex
    justify-content: space-between
    align-items: center
    flex: 1 1 0
    background-color: $white
    width: 89px
    height: 60px
    border-radius: 0 10px 10px 0
    button
        width: 100%
        height: 100%
        margin: 0
        padding: 20px
        color: $white
        background-color: $blue
        border-radius: 0 10px 10px 0
